@page
@model RussianSongTranslation.Pages.AdminPanelModel
@{
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/adminPanel.css" asp-append-version="true"/>
</head>
<body>
	<div class="container">
		<div class="header">
			<a href="@Url.Page("/Index")" class="header-link">Главная</a>
			<a href="@Url.Page("/Songs")" class="header-link">Песни</a>
			<a href="@Url.Page("/Alboms")" class="header-link">Альбомы</a>
			<a href="@Url.Page("/Index", new{exit=true})" class="header-link">Выйти</a>
		</div>
		<div class="panel">
			<h2 class="admin_text">Панель администратора</h2>
			<div class="button-panel">
				<button onclick="openForm('form1')">Песни</button>
				<button onclick="openForm('form2')">Альбомы</button>
				<button onclick="openForm('form3')">Жанры</button>
				<button onclick="openForm('form4')">Исполнители</button>
				<button onclick="openForm('form5')">Переводы</button>
				<button onclick="openForm('form6')">Песни в альбом</button>
			</div>

			<script src="~/js/adminPanel.js"></script>
			<div class="form-container" id="formContainer">
				<form method="post" id="form1" class="@AdminPanelModel.Form1">
					<div class="form-group">
						<label for="songTitle">Название песни:</label>
						<input type="text" id="songTitle" name="songTitle" required>
					</div>
					<div class="form-group">
						<label for="songText">Текст песни:</label>
						<textarea id="songText" name="songText" rows="8" cols="51" required></textarea>
					</div>
					<div class="form-group">
						<label for="duration">Продолжительность:</label>
						<input type="text" id="duration" name="duration" required>
					</div>
					<div class="form-group">
						<label for="language">Язык:</label>
						<select id="language" name="language" required>
							<option value="">Выберите язык</option>
							<option value="Французский">Французский</option>
							<option value="Английский">Английский</option>
							<option value="Итальянский">Итальянский</option>
							<option value="Испанский">Испанский</option>
							<option value="Немецкий">Немецкий</option>
						</select>
					</div>
					<div class="form-group">
						<label for="genre">Жанр:</label>
						<select id="genre" name="genre" required>
							<option value="">Выберите жанр</option>
							@foreach (var genre in Model.db.Genres.ToList())
							{
								<option value=@genre.Name>@genre.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label for="singer">Певец:</label>
						<select id="singer" name="singer" required>
							<option value="">Выберите исполнителя</option>
							@foreach (var songer in Model.db.Songers.ToList())
							{
								<option value=@songer.Name>@songer.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label for="songLink">Ссылка:</label>
						<input  type="text" id="songLink"  name="songLink">
					</div>
					<input type="submit" asp-page-handler="Song" value="Добавить">
				</form>

				<form method="post" id="form2" class="@AdminPanelModel.Form2">
					<div class="form-group">
						<label for="nameAlbom">Название альбома:</label>
						<input type="text" id="nameAlbom" name="nameAlbom" required>
					</div>
					<div class="form-group">
						<label for="releaseDate">Дата публикации:</label>
						<input type="date" id="releaseDate" name="releaseDate" required>
					</div>
					<div class="form-group">
						<label for="albomLink">Ссылка:</label>
						<input type="text" id="albomLink" name="albomLink">
					</div>
					<input asp-page-handler="Albom" type="submit" value="Добавить">
				</form>

				<form method="post" id="form3" class="@AdminPanelModel.Form3">
					<div class="form-group">
						<label for="nameGenre">Название жанра: </label>
						<input type="text" id="nameGenre" name="nameGenre" required>
					</div>
					<input asp-page-handler="Genre" type="submit" value="Добавить">
				</form>

				<form method="post" id="form4" class="@AdminPanelModel.Form4">
					<div class="form-group">
						<label for="nameSonger">Имя исполнителя:</label>
						<input type="text" id="nameSonger" name="nameSonger" required>
					</div>
					<div class="form-group">
						<label for="description">Биография:</label>
						<textarea id="description" name="description" rows="8" cols="51" required></textarea>
					</div>
					<div class="form-group">
						<label for="songerLink">Ссылка:</label>
						<input type="text" id="songerLink" name="songerLink">
					</div>
					<input asp-page-handler="Songer" type="submit" value="Добавить">
				</form>

				<form method="post" id="form5" class="@AdminPanelModel.Form5">
					<div class="form-group">
						<label for="song">Песня:</label>
						<select id="song" name="song" required>
							<option value="">Выберите песню:</option>
							@foreach (var song in Model.db.Songs.ToList())
							{
								<option value=@song.Name>@song.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label for="nameTranslation">Перевод названия:</label>
						<input type="text" id="nameTranslation" name="nameTranslation" required>
					</div>
					<div class="form-group">
						<label for="translationText">Перевод песни:</label>
						<textarea id="translationText" name="translationText" rows="8" cols="51" required></textarea>
					</div>
					<input type="submit" asp-page-handler="Translation" value="Добавить">
				</form>

				<form method="post" id="form6" class="@AdminPanelModel.Form6">
					<div class="form-group">
						<label for="albom">Альбом:</label>
						<select id="albom" name="albom" required>
							<option value="">Выберите альбом:</option>
							@foreach (var albom in Model.db.Alboms.ToList())
							{
									<option value=@albom.Name>@albom.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label for="song">Песня:</label>
						<select id="song" name="song" required>
							<option value="">Выберите песню:</option>
							@foreach (var song in Model.db.Songs.ToList())
							{
								<option value=@song.Name>@song.Name</option>
							}
						</select>
					</div>
					<input type="submit" asp-page-handler="SongInAlbom" value="Добавить">
				</form>

			</div>
		</div>
	</div>
</body>
</html>
