@page
@model IndexModel
@{
	ViewData["Title"] = "Главная страница";
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
</head>
<body>
	<div class="container">
		<div class="first_part">
			<div class="overlay">
				
				<div class="header">
					<a href="@Url.Page("/Songs")" class="header-link">Песни</a>
					<a href="@Url.Page("/Alboms")" class="header-link">Альбомы</a>
					<a href="@Url.Page(UserInfo.UrlButton)" class="header-link">@UserInfo.StatusButton</a>
				</div>

				<div class="description">
					Сайт с переводами песен на русский язык - каждый день добавляются и обновляются переводы
				</div>
			</div>

		</div>
		<div class="songs">
			<h2 class="popular_text">Популярные песни</h2>
			<div class="grid-container">
				@foreach (var song in Model.Songs)
				{
							<div class="card">
								<div style="background-image: url(@song.Url); height: 66.66%; background-size: 100% 100%;"></div>
								<div class="content">
									<h2><a class="card-link-name" href="@Url.Page("/SongPage" , new{song.Id})">@song.Name</a></h2>
									<p><a class="card-link-other" href="@Url.Page("/SongerPage", new{song.Songer.Id})">@song.Songer.Name</a></p>
								</div>
							</div>
				}     
			</div>

			<h2 class="popular_text" style="margin-top: 25px;">Альбомы</h2>
			<div class="grid-container">
				@foreach (var albom in Model.Alboms)
				{
						<div class="card">
								<div style="background-image: url(@albom.Url); height: 66.66%; background-size: 100% 100%;"></div>
								<div class="content">
									<h2><a class="card-link-name" href="@Url.Page("/AlbomPage", new{@albom.Id})">@albom.Name</a></h2>
									<p><a class="card-link-other" href="@Url.Page("/SongerPage", new{@albom.SongInAlboms.FirstOrDefault().Song.Songer.Id})">@albom.SongInAlboms.FirstOrDefault().Song.Songer.Name</a></p>
								</div>
						</div>
				}     
			</div>
		</div>
	</div>
</body>
</html>




